@import url('https://css.gg/check-r.css');
@import url('https://css.gg/close-r.css');
@import url('https://css.gg/arrow-right-r.css');
@import url('https://css.gg/add-r.css');

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}


#bodyBackground{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.puzzle--finish{
    z-index: 100;
    width: 20%;
    height: 20%;
    color: rgb(32, 178, 170);
    position: absolute;
    display: none;
}

.puzzle--finish>.gg-check-r{
    display: inline-block;
}


.puzzle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 97%;
    height: 100%;
    margin-left: 3%;
    flex-basis: 0;
    
}

.panel__chose_difficulty{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
}

#difficulty__input{
    margin-left: 1%;
    color: rgb(59, 95, 221);
}

.panel__chose_difficulty .gg-arrow-right-r, .panel__chose_picture .gg-add-r{
    color: rgb(59, 95, 221);
}

.panel__chose_difficulty .gg-check-r{
    color: rgb(32, 178, 170);
}

.panel__chose_difficulty .gg-close-r{
    color: #f12;
}


.puzzle__main{
    display: flex;
    min-width: 400px;
    margin-top: 2%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}


.panel__segment--place{
    display: block;
}

.puzzle__segment--place{
    background-color: #fff;
    float: left;
    margin: 1px 0 0 1px;
    opacity : 0.8;
}

.panel__segment--drag{
    margin: 0 0 0 2%;
    width: 30%;
}

.puzzle__segment--drag{
    position: absolute;
}

.puzzle__segment--drag:hover{
    outline: 2px solid #fff;
}

.panel__chose_picture{
    margin-top: 2%;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 80px;
}


.add_picture__btn, .picture--candidate>img{
    margin: 3px;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

.picture--candidate>img{
    display: block;
}

.add_picture__btn{
    display: flex;
    order: 1;
    justify-content: center;
    align-items: center;
}

.picture--candidate{
    display: flex;
}

.add_picture__btn:hover{
    background-color: #ddd;
}

.add_picture__btn:hover, .picture--candidate:hover{
    cursor: pointer;
}

.picture__input{
    display: none;
}