*{
    margin: 0;
    border: 0;
    padding: 0;
}

.excel__top-container, .excel__row-id-container {
    display: flex;
    background-color: rgb(230, 230, 230);
}

.excel__icon--all-select{
    display: block;
    position: relative;
}

.excel__icon--all-select::before, .excel__icon--all-select::after {
    content: "";
    display: block;
    position: absolute;
}

.excel__icon--all-select::before {
    background-color: rgb(180, 180, 180);
    width: 12px;
    height: 12px;
    top: 11px;
    left: 15px;
}

.excel__icon--all-select::after {
    width: 12px;
    height: 18px;
    top: 4px;
    left: 12px;
    background-color: rgb(230, 230, 230);
    transform: rotate(45deg);
}

.excel__col-id-container {
    display: flex;
    flex-basis: 0;
}

.excel__col-id-container > div:hover, .excel__row-id-container > div:hover {
    background-color: #28e9bf;
    cursor: grab;
}

.excel__col-id-container > div:active, .excel__row-id-container > div:active {
    
    cursor: grabbing;
}

.excel__col-id-container > div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.excel__main-container{
    display: flex;
}

.excel__row-id-container{
    flex-direction: column;
}

.excel__cells-container {
    position: relative;
}

.excel__cells-container:hover {
    cursor: cell;
}

.excel__cells-container>div[contenteditable="true"]:hover {
    cursor: text;
}


.excel__row-id-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.excel__icon--all-select, .excel__col-id-container > div, .excel__row-id-container > div , .excel__cells-container > div{
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
    outline: none;
    border-color: rgb(153, 153, 153);
}



.excel__cells-container > div{
    float: left;
    white-space:nowrap; /* 让cell中的内容不含行  横向溢出 */
    overflow: hidden; /* text-overflow依赖这个属性; */
    text-overflow: ellipsis;/* 溢出部分省略后 用...代替 */
}

.excel .selectedByClick{
    box-shadow: 0 0 0 2px rgb(32, 178, 170);
    border-color: rgb(32, 178, 170);
}

.excel__cells-container > div.editable{
    overflow: visible; /*编辑时不隐藏*/
}

.excel .selectedByDrag-top {
    box-shadow: 0 -2px 0 rgb(32, 178, 170);
}

.excel .selectedByDrag-left {
    box-shadow: -2px 0 0 rgb(32, 178, 170);
}

.excel .selectedByDrag-right {
    box-shadow: 2px 0 0 rgb(32, 178, 170);
    border-right-color: rgb(32, 178, 170);
}

.excel .selectedByDrag-bottom{
    box-shadow: 0 2px 0 rgb(32, 178, 170);
    border-bottom-color: rgb(32, 178, 170);
}

.excel .selectedByDrag {
    background-color: #aaa;
}


div.cells-cover{
    display: none;
    position: absolute;
    background-color: rgb(188, 188, 188, 0.5);
    outline: 2px solid rgb(32, 178, 170);
}

.excel .selectedByClickOnDrag {
    z-index: 100;
    background-color: #fff;
}